{% extends 'base.html' %}

{% block content %}

    <form action="" method="post" enctype="multipart/form-data">
        <p>
            <input type="file" name="img_file" autocomplete="off" required>
        </p>
        <p>
            <input type="submit" value="Распознать">
        </p>
    </form>

    {% if img_data %}
        <p>
            <h2>Время инференса модели: {{ time_model_inference }} ms</h2>
        </p>
        <p>
            <img src="data:image/jpeg;base64,{{ img_data }}"/>
        </p>
    {% endif %}

{% endblock %}